.nx-block-read-more{
  display:block;
  width:-moz-fit-content;
  width:fit-content;
}
.nx-block-read-more:where(:not([style*=text-decoration])){
  text-decoration:none;
}
.nx-block-read-more:where(:not([style*=text-decoration])):active,.nx-block-read-more:where(:not([style*=text-decoration])):focus{
  text-decoration:none;
}