.nx-block-site-logo{
  box-sizing:border-box;
  line-height:0;
}
.nx-block-site-logo a{
  display:inline-block;
  line-height:0;
}
.nx-block-site-logo.is-default-size img{
  height:auto;
  width:120px;
}
.nx-block-site-logo img{
  height:auto;
  max-width:100%;
}
.nx-block-site-logo a,.nx-block-site-logo img{
  border-radius:inherit;
}
.nx-block-site-logo.aligncenter{
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}

:root :where(.nx-block-site-logo.is-style-rounded){
  border-radius:9999px;
}