.nx-block-columns{
  align-items:normal !important;
  box-sizing:border-box;
  display:flex;
  flex-wrap:wrap !important;
}
@media (min-width:782px){
  .nx-block-columns{
    flex-wrap:nowrap !important;
  }
}
.nx-block-columns.are-vertically-aligned-top{
  align-items:flex-start;
}
.nx-block-columns.are-vertically-aligned-center{
  align-items:center;
}
.nx-block-columns.are-vertically-aligned-bottom{
  align-items:flex-end;
}
@media (max-width:781px){
  .nx-block-columns:not(.is-not-stacked-on-mobile)>.nx-block-column{
    flex-basis:100% !important;
  }
}
@media (min-width:782px){
  .nx-block-columns:not(.is-not-stacked-on-mobile)>.nx-block-column{
    flex-basis:0;
    flex-grow:1;
  }
  .nx-block-columns:not(.is-not-stacked-on-mobile)>.nx-block-column[style*=flex-basis]{
    flex-grow:0;
  }
}
.nx-block-columns.is-not-stacked-on-mobile{
  flex-wrap:nowrap !important;
}
.nx-block-columns.is-not-stacked-on-mobile>.nx-block-column{
  flex-basis:0;
  flex-grow:1;
}
.nx-block-columns.is-not-stacked-on-mobile>.nx-block-column[style*=flex-basis]{
  flex-grow:0;
}

:where(.nx-block-columns){
  margin-bottom:1.75em;
}

:where(.nx-block-columns.has-background){
  padding:1.25em 2.375em;
}

.nx-block-column{
  flex-grow:1;
  min-width:0;
  overflow-wrap:break-word;
  word-break:break-word;
}
.nx-block-column.is-vertically-aligned-top{
  align-self:flex-start;
}
.nx-block-column.is-vertically-aligned-center{
  align-self:center;
}
.nx-block-column.is-vertically-aligned-bottom{
  align-self:flex-end;
}
.nx-block-column.is-vertically-aligned-stretch{
  align-self:stretch;
}
.nx-block-column.is-vertically-aligned-bottom,.nx-block-column.is-vertically-aligned-center,.nx-block-column.is-vertically-aligned-top{
  width:100%;
}