.nx-block-embed.alignleft,.nx-block-embed.alignright,.nx-block[data-align=left]>[data-type="core/embed"],.nx-block[data-align=right]>[data-type="core/embed"]{
  max-width:360px;
  width:100%;
}
.nx-block-embed.alignleft .nx-block-embed__wrapper,.nx-block-embed.alignright .nx-block-embed__wrapper,.nx-block[data-align=left]>[data-type="core/embed"] .nx-block-embed__wrapper,.nx-block[data-align=right]>[data-type="core/embed"] .nx-block-embed__wrapper{
  min-width:280px;
}

.nx-block-cover .nx-block-embed{
  min-height:240px;
  min-width:320px;
}

.nx-block-embed{
  overflow-wrap:break-word;
}
.nx-block-embed :where(figcaption){
  margin-bottom:1em;
  margin-top:.5em;
}
.nx-block-embed iframe{
  max-width:100%;
}

.nx-block-embed__wrapper{
  position:relative;
}

.nx-embed-responsive .nx-has-aspect-ratio .nx-block-embed__wrapper:before{
  content:"";
  display:block;
  padding-top:50%;
}
.nx-embed-responsive .nx-has-aspect-ratio iframe{
  bottom:0;
  height:100%;
  left:0;
  position:absolute;
  right:0;
  top:0;
  width:100%;
}

.nx-embed-responsive .nx-embed-aspect-21-9 .nx-block-embed__wrapper:before{
  padding-top:42.85%;
}
.nx-embed-responsive .nx-embed-aspect-18-9 .nx-block-embed__wrapper:before{
  padding-top:50%;
}
.nx-embed-responsive .nx-embed-aspect-16-9 .nx-block-embed__wrapper:before{
  padding-top:56.25%;
}
.nx-embed-responsive .nx-embed-aspect-4-3 .nx-block-embed__wrapper:before{
  padding-top:75%;
}
.nx-embed-responsive .nx-embed-aspect-1-1 .nx-block-embed__wrapper:before{
  padding-top:100%;
}
.nx-embed-responsive .nx-embed-aspect-9-16 .nx-block-embed__wrapper:before{
  padding-top:177.77%;
}
.nx-embed-responsive .nx-embed-aspect-1-2 .nx-block-embed__wrapper:before{
  padding-top:200%;
}