.nx-block-post-navigation-link .nx-block-post-navigation-link__arrow-previous{
  display:inline-block;
  margin-left:1ch;
}
.nx-block-post-navigation-link .nx-block-post-navigation-link__arrow-previous:not(.is-arrow-chevron){
  transform:scaleX(-1);;
}
.nx-block-post-navigation-link .nx-block-post-navigation-link__arrow-next{
  display:inline-block;
  margin-right:1ch;
}
.nx-block-post-navigation-link .nx-block-post-navigation-link__arrow-next:not(.is-arrow-chevron){
  transform:scaleX(-1);;
}
.nx-block-post-navigation-link.has-text-align-left[style*="writing-mode: vertical-lr"],.nx-block-post-navigation-link.has-text-align-right[style*="writing-mode: vertical-rl"]{
  rotate:180deg;
}